@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* .body{
  font-family: Quicksand !important;
  /* font-family: 'Open Sans', sans-serif; */

.shadow {
  /* box-shadow: 0 2px 15px rgba(59, 33, 33, 0.68); */
  box-shadow: 0 2px 15px rgb(0 0 0 / 68%);
}

.ce-wrapper {
  background-color: #f9f9f9 !important;

}


.ce-chats-container {
  background-color: #f9f9f9 !important;
  border-radius: 0px !important;
}

.ce-chat-form-container {
  background-color: #f9f9f9 !important;
  color: rgb(25, 3, 3);
  font-family: "Open Sans";
}

.ce-chat-card {
  margin: 0px 6px !important;
  font-family: "Open Sans";

}

.ce-chat-card-loading-bar {
  background-color: #535a6d !important;
}

.ce-active-chat-card {
  background-color: #726dfe !important;
}

.ce-chat-title-text {
  color: rgb(0, 0, 0) !important;
  /* font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif */
;
}

.ce-chat-subtitle-text {
  color: hsla(0, 0%, 0%, 0.568) !important;
}

.ce-chat-unread-dot {
  background-color: white !important;
}

/* Chat Feed */

.ce-chat-title-container {
  background-color: #f9f9f9 !important;
  border-radius: 0px !important;
}

.ce-chat-feed-container {
  background-color: #f9f9f9 !important;
}

.ce-primary-button {
  background-color: #9a97fc !important;
}

.ce-message-date-text {
  color: hsla(0, 100%, 0%, 0.568) !important;
}

.ce-my-message-bubble {
  background-color: #6662e4 !important;
}

.ce-my-message-sinding-bubble {
  background-color: #938ffe !important;
}

.ce-my-message-timestamp {
  color: #000000 !important;
}

.ce-their-message-timestamp {
  color: hsla(0, 0%, 0%, 0.568) !important;
}

#ce-send-message-button {
  background-color: #9a97fc !important;
}

#ce-ice-breaker-gif {
  max-width: 115px !important;
  margin-top: 30px !important;
}

.ce-social-message-form {
  background-color: #f9f9f9 !important;
}

.ce-message-input-form {
  padding-bottom: 10px !important;
}

#msg-textarea {
  width: calc(100% - 140px) !important;
  position: relative !important;
  top: 4px !important;
  border-width: 0px !important;
  background-color: #f9f9f9 !important;
  color: white !important;
}
#msg-textarea::placeholder {
  color: hsla(0, 0%, 100%, 0.568) !important;
}

#ce-upload-document-icon {
  color: white !important;
}

.ce-feed-container-bottom {
  height: "44px";
}

.ce-message-images-row {
  background-color: #000000 !important;
}

.ce-their-message-sender {
  color: hsla(0, 0%, 0%, 0.568) !important;
}

.ce-their-message-bubble {
  background-color: #6085ff !important;
  color: rgba(255, 255, 255, 0.705) !important;
}

/* Chat Settings */

.ce-settings {
  background-color: #f9f9f9 !important;
  border-radius: 0px !important;
  font-family: "Open Sans";

}

.ce-chat-title-form .ce-text-input {
  background-color: #f9f9f9;
  color: 4a5162;
}

.ce-section-title-container {
  background-color: #f9f9f9 !important;
  color: #000000;
  font-family: 'Open Sans'
}

#ce-options-drop-down {
  background-color: #f9f9f9 !important;
  color: #000000;
  font-family: 'Open Sans'
}

.ce-person-text {
  color: hsla(0, 0%, 100%, 0.568);
}

.ce-danger-button {
  background-color: #f9f9f9 !important;
  border: 1px solid #8c88f7 !important;
  color: #9a97fc !important;
}

.ce-autocomplete-close {
  background-color: white !important;
  border-radius: 0px !important;
}
